    <footer id="footer">
        <div class="container">
          <div class="row-fluid pull-center">
            <div class="social-media">
              <a href="https://twitter.com/BryonyG_PT" target="_blank"><i class="icon-twitter-sign"></i></a>
              <a href="https://www.facebook.com/groups/382040461832074/" target="_blank"><i class="icon-facebook-sign"></i></a>
              <a href="http://uk.linkedin.com/pub/bryony-gurmin/90/361/99" target="_blank"><i class="icon-linkedin-sign"></i></a>
            </div>
            <p>Copyright 2013 &copy; <a href="http://richlewis.co.uk" target="_blank">Richard Lewis</a></p>
          </div>
        </div>    
    </footer>