
        <!-- @region: Content -->
    <!--scroll-section class must be added to all scrollable sections-->
    <div id="content">
      <section class="scroll-section about block primary" id="about">
	<!-- About text & photo -->
	<div class="container">
	  <div class="row-fluid">
	    <div class="span3 photo">
	    	<%= image_tag(aws_asset("/assets/images/Optimized-bryprofile.png"), :class => 'img-circle pull-center', :alt => 'Profile Pic')%>
	    </div>
	    <div class="span9 details">
	      <h2 class="primary-focus">Bryony Gurmin</h2>
	      <h3 class="secondary-focus">Personal Trainer, Functional Trainer, GP Referral, Tutor & Assessor.</h3>
	      <p>Because you have to train your mind like you train your body...</p>
	      
	    </div>
	  </div>
	</div>
      </section>
      
     
      
      
	
      <!-- Skills & Services -->
      <section class="scroll-section services block gray" id="services">
	<div class="container">
	  <h2>Services</h2>
	  <div class="row-fluid">
	    <div class="span4 service"> 
	      <i class="icon-user centered"></i>
	      <h3 class="bold">Personal Training</h3>
	      <p>If you are serious about being successful then I’m the Personal Trainer for you. If you are looking to be more active, have less injuries, increase your performance, look better, feel better and to change your life.... then I can get you there.</p>
          <div class="read-more">
	      <p>My focus includes Respecting your time and intelligence by making your sessions specific, goal related and giving you a sense of achievement. I am an encouraging trainer, I make you feel at ease but motivate you to work hard.
	      <br>
	      <br>
	      I can give you the tools to be able to make the correct decisions for a long term lifestyle change. Increasing your nutritional knowledge and understanding about healthy balanced lifestyles.
	      <br>
	      <br>
	     My GP exercise referral qualification ensures your in safe hands , whether you have any form of COPD, high blood pressure, diabetes, osteoporoses, arthritis or other terminal illnesses.
         <br>
	     <br>
	     I cater for classes too, Boot camps, Kettle bells, Kickboxing, Aqua Aerobics, Circuit Training or Exercise to Music.</p>
	    </div>
	    <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
         
	    </div>
	    <div class="span4 service">
	      <i class="icon-group centered"></i>
	      <h3 class="bold">Functional Trainer</h3>
	      <p>As a functional trainer I am able to think about your fitness assessments, look at solutions to your body niggils and get you training and moving in top form. Programs, exercise creation and rehabilitation.</p>

           <div class="read-more">
	        <p>Due to my training from <a href="http://www.fasterglobal.com/" target="_blank">FASTER</a> Function. The skills I have learnt  will help me observe your motion and build exercises from the thought process. This is training for function and getting the best of human motion.
	        </p>
	      </div>
	      <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
	    </div>
	    <div class="span4 service">
	      <i class="icon-pencil centered"></i>
	      <h3 class="bold">Assessor</h3>
	      <p>Fully qualified as a freelance tutor and assessor for the fitness industry I am able to I provide quality of service to soon to be personal trainers, gym instructors and also teach continued professional development courses.</p>

	      <div class="read-more">	
	       <p>I work hard to ensure that I provide an enthusiastic approach to empower students to achieve in this field. I currently hold my <a href="http://www.cityandguilds.com/Courses-and-Qualifications/learning/teaching/6302-preparing-to-teach-in-the-lifelong-learning-sector-ptlls" target="_blank">PTLLS</a> and Level 3 in assessing within the lifelong learning sector.</p>
	     </div>
	     <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
	    </div>
	  </div>
	</div>
      </section>	

      <!-- Qualifacations -->
      <section class="scroll-section services block" id="qualifications">
	<div class="container">
	  <h2>Qualifications</h2>
	  <div class="row-fluid">
	    <div class="span3 qual"> 
	      <h3 class="bold">Personal Training</h3>
	      <ul>
	      	<li>Level 3 Advanced Diploma in Personal Training</li>
	      	<li>GP exercise referral</li>
	      	<li>Faster Fitness Advanced Functional Trainer</li>
	      	<li>Health screening and fitness assessment</li>
	      	<li>Level 2 Gym Instructor</li>
	      </ul>
	    </div>
	    <div class="span3 qual">
	      <h3 class="bold">CPD</h3>
	      <ul>
	      	<li>Circuit Training Instructor</li>
	      	<li>Group Cycling Instructor</li>
	      	<li>Group Cycling Instructor</li>
	      	<li>Premier Global Kettle-bell Instructor</li>
	      	<li>Active Ageing</li>
	      	<li>Stress Management</li>
	      </ul>
	    </div>
	    <div class="span3 qual">
	      <h3 class="bold">Leisure</h3>
	      <ul>
	      	<li>Advanced Thump Boxing Instructor</li>
	      	<li>Circuit Training Instructor</li>
	      	<li>Premier Global Kettle-bell Instructor</li>
	      	<li>Exercise to Music</li>
	      	<li>Water Based Exercise</li>
	      	<li>Advanced Thump Boxing Instructor</li>
	      	<li>Active Ageing</li>
	      	<li>Stress Management</li>
	      </ul>
	    </div>
	    <div class="span3 qual">
	      <h3 class="bold">Tutoring & Assessing</h3>
	      <ul>
	      	<li>Preparing to Teach in the Lifelong Learning Sector</li>
	      	<li>Level 3 Assessing in the Lifelong Learning Sector</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </section>		
		
	
      <!-- Experience Timeline -->
      <section class="scroll-section experience block" id="experience">
	<div class="container">
	  <h2>Experience</h2>
	  
	  <!--
	  The Timeline:
	  - Timeline can be stacked by default by adding .timeline-stacked class to <ul class="timeline">, markers can show downloads by adding .down to <ul class="timeline">
	  - Item overlapping can be reset using the .overlap-off class or pulled using the overlap-pull-small & overlap-pull-large or pulled using overlap-push-small & overlap-push-large, default overlap is 60px
	  - To highlight the marker of an item add the class highlight to the timeline-item elements
	  -->
	  <ul class="timeline">
	    <!--Year 1 - 2013-->
	    <li>
	     
	      <ul>
	      	<!-- Discovery Learning-->
	      	<li class="timeline-item highlight">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <%= image_tag(aws_asset("/assets/images/discl.jpg"), :class => 'timeline-item-photo img-bg-primary', :alt => 'Discovery Learning Logo') %>		  
		  <h4 class="timeline-item-date">May 2013 - Present</h4>
		  <h5 class="timeline-item-role">Discovery Learning - Tutor and Assessor (Freelance) </h5>
		
		  <p class="timeline-item-description">Discovery Learning is a leading Fitness Training Provider in the UK. As the Centre of Excellence for the National Skills Academy for Health and fitness.</p>

		  <div class="read-more">
		    <p class="timeline-item-description">
		     I provide quality of service to soon to be personal trainers, gym instructors and also teach continued professional development courses. I work hard to ensure that I always provide an enthusiastic empowering courses to my students guiding them with my knowledge and vast experience within the fitness industry.
		    </p>

            <p class="timeline-item-description">
           My experience in assessing also enables me to delivery to a set standard within the industry criteria so that the students are fit for work.
            </p> 

            <p class="timeline-item-description">
           Visit Discovery Learning by <a href="http://www.discovery.uk.com" target="_blank">Clicking Here</a>
            </p> 
          </div>
          <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
		</li>

         <!-- Living Well -->
		<li class="timeline-item right">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <%= image_tag(aws_asset("/assets/images/livingwell.jpg"), :class => 'timeline-item-photo right img-bg-primary-light', :alt => 'Living Well Logo')%>		  
		  <h4 class="timeline-item-date">June 2012 - Present</h4>
		  <h5 class="timeline-item-role">Living Well Gyms</h5>
		  <p class="timeline-item-description">Living well gym is very much a members focused facility when it comes to customer service and member retention.</p>

		  <div class="read-more">
		    <p class="timeline-item-description">
		     My duties are personal training, to liaise with gym members, conduct gym inductions taking them through the specific product brand standards. 
		    </p>

            <p class="timeline-item-description">
            I teach a range of classes such as abs blast, thump boxing, circuit training, group cycling and boot camps.. 
            <br><br>
            I also help develop sales and marketing through different activities such as outreach, in reach, lead generation and open days. I try to keep our members included and think of different ideas we can incorporate into the product such as quiz night, days out and various gym challenges.
            </p> 
          </div>
          <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
		</li>
    
		<li class="timeline-item highlight">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <%= image_tag(aws_asset("/assets/images/fitsmart.png"), :class => 'timeline-item-photo img-bg-primary', :alt => 'Fitsmart Logo')%>
		  <h4 class="timeline-item-date">Feb 2011 - Oct 2012</h4>
		  <h5 class="timeline-item-role">Self Employed @Fitsmart</h5>
		  <p class="timeline-item-description">
		  Fit Smart was a fitness management company I founded in 2010 and was part of a young social entrepreneur network.
		  </p>
           <div class="read-more">
           	<p class="timeline-item-description">
		   I worked with people in small deprived areas to promote health & fitness in the community and took over the running of a gym which had been hit by the economic climate as my own business.
		   <br><br>
          I gained funding, support and grants through the sports council for Wales & UnLtd of whom support young Entrepreneurs. The community really benefited from my service. 
          <br><br>
          I became recognized as a provider for Caerphilly County Council. Other projects I became involved in included Merthyr Youth Boot Camps, where I provided lifestyle and fitness coaching for disengaged young adults. 
          <br><br>
          “Give work a sporting a chance campaign” in collaboration with Communities First where we catered an eight week course for the ages of 16+ teaching them about roles in the active leisure and learning sector & encouraging them to start a career.
          <br><br>
          I also set up the induction scheme for United Welsh Housing Associating and their independent living scheme fitness facility.</p>
      </div>
		  <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
		</li>

		<li class="timeline-item right">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <%= image_tag(aws_asset("/assets/images/laguna.png"), :class => 'timeline-item-photo right img-bg-primary-light', :alt => 'Laguna Logo')%>
		  <h4 class="timeline-item-date">Aug 2010 - Jan 2011</h4>
		  <h5 class="timeline-item-role">Fitness Manager, Laguna Health and Spa</h5>
		  <p class="timeline-item-description">
		  	Driving my team of personal trainers to hit set targets and create member rapport in a positive environment.
		  </p>

           <div class="read-more">
		    <p class="timeline-item-description">
		    We hit our first target of Åí1900 which has not been done since January 2009 I felt I made an impact.
		    <br><br>
		  	I provided new training systems within the gym to improve customer service and member retention. I also help out on the reception and bar area, ensuring only he highest standard of customer service. 
		  	<br><br>
		  	I taught classes such as spin, circuits and box fit and am competent in pool plant operations.</p>
		   </div>
		  	 <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
		</li>
		
		<li class="timeline-item highlight">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <%= image_tag(aws_asset("/assets/images/dws.jpg"), :class => 'timeline-item-photo img-bg-primary', :alt => 'DWS Logo')%>
		  <h4 class="timeline-item-date">December 2006  - July 2010</h4>
		  <h5 class="timeline-item-role">Assistant General Manager, DWS Sports</h5>
		  <p class="timeline-item-description">
		  	Responsible for day to day running of the club when our general manager was away.Maintaining a high level of professionalism.
		  </p>
            <div class="read-more">
            <p class="timeline-item-description">
		   Focusing on Sales, Profit & Revenue. Liaising with members, I am always interested in response from members about the facility.
		   <br><br> 
           Organising club events for charities, open days and building corporate memberships with different companies, such as “General Dynamics” I was also part of the process in setting up an opportunity for the Gwent Dragons to use our facility. 
           <br><br>
           I also participated in the running of “Inch Loss Club,” a service which we offered to members as a means of monitoring fitness progress and giving advice on their goals. Ensuring club maintenance, cleanliness, health and safety. 
           <br><br>
           Key holder, pool plant duties, cash up & Banking, I have a very “Hands on approach & love helping out wherever possible.
           </p>
           </div>
           <a class="btn btn-mini btn-primary-light btn-square">Read More</a>
		</li>
	      </ul>
	    </li>
	    
	    <!--Timeline end block-->
	    <li class="timeline-end">
	      <h5 class="timeline-breaker">Want to know more?</h5>
	      <a href="#contact" class="btn btn-large btn-primary-light btn-square"><i class="icon-envelope"></i> Contact Me</a>
	    </li>
	  </ul>
	</div>
      </section>
	
      <!--Customer testimonial -->
      <section class="testimonials" id="testimonials">
        
	<div class="block thin gray">
	  <div class="flexslider-wrapper container">
	    <div class="flexslider" data-transition="fade" data-directionnav=false>
	      <div class="slides">
		<blockquote class="slide">
		  <p>
		     I would recommend Bryony to anyone without a seconds hesitation.
		    <small>Gareth Williams</small>
		  </p>
		</blockquote>
		<blockquote class="slide">
		  <p>
		    An expert in her field of knowledge, with a professional and friendly nature.
		    <small>Dr Richard French</small>
		  </p>
		</blockquote>
		<blockquote class="slide">
		  <p>
		    Bryony has a great personality and is a great motivator.
		    <small>Angela Pugsley</small>
		  </p>
		</blockquote>
	      </div>
	    </div>
	  </div>
	</div>
      </section>
      
      <!--Contact form-->
      <section class="scroll-section contact block" id="contact">
	<div class="container">
	  <h2>Hire Me</h2>
	  <div class="row-fluid">
	    <form id="contact-form" action="/" method="post">
	      <div class="span5">
              <div class="control-group">
		        <input id="inputName" type="text" placeholder="Enter Your Full Name" name="name" class="input-primary" /> 
		        <span class="help-inline">Please fill your name</span>
		     </div>

              <div class="control-group">
		        <input id="inputEmail" type="email" placeholder="Enter Your Email Address" name="email" class="input-primary"/>
		        <span class="help-inline">Please fill your Email Address</span>
		      </div>
	      </div><!-- span5 -->

	      <div class="span7"> 	
	      	<div class="control-group">
		      <textarea id="inputMessage" name="message"  rows="4" placeholder="Message"></textarea>
		      <span class="help-inline">Please fill your Message</span>
		   </div>
	      </div><!-- span7 -->

	      <div class="hidden">
             <input name="ghost" type="text" class="inputGhost"/>
          </div>

	      <input type="submit" class="btn btn-large btn-primary-light btn-square" value="Send Message"/>
	    </form>
	  </div><!--row-->
	</div><!--Container-->
      </section>
      
    </div>
      
    