<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Bryony Gurmin Personal Training" />
<meta name="keywords" content="Fitness, Nutrition, Personal Training, GP Referral" />
<meta name="author" content="Richard Lewis" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Bryony Gurmin Personal Training</title>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43557475-1', 'bryonygurmin-personaltraining.co.uk');
  ga('send', 'pageview');

</script>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Production CSS -->
<%= stylesheet_link_tag "/assets/css/compressed.css" %>
<!--[if IE 7]>
<script src="/assets/css/font-awesome.ie7.css"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
<link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>

<!-- Development CSS 

 Bootstrap CSS 

<%= stylesheet_link_tag "/assets/css/bootstrap.css" %>
<%= stylesheet_link_tag "/assets/css/bootstrap-responsive.css" %>

  Plugins 
<%= stylesheet_link_tag "/assets/css/font-awesome.css" %>

<%= stylesheet_link_tag "/assets/css/flexslider.css" %>

Theme style  
<%= stylesheet_link_tag "/assets/css/theme-style.css" %> -->

</head>

 <body class="has-navbar-fixed-top page-index">
    <%= styled_flash %>
    <%= erb :nav %>
    <%= yield %>
    <%= erb :footer %>

 <!--Scripts -->
<%= javascript_script_tag "/assets/js/jquery.js" %>


<%= javascript_script_tag "/assets/js/bootstrap-min.js" %>


<%= javascript_script_tag "/assets/js/jquery.flexslider-min.js" %>
<%= javascript_script_tag "/assets/js/jquery.jpanelmenu.min.js" %>
<%= javascript_script_tag "/assets/js/jRespond.js" %>
<%= javascript_script_tag "/assets/js/jquery.scrollTo.js" %>
<%= javascript_script_tag "/assets/js/jquery.nav.js" %>
<%= javascript_script_tag "/assets/js/valid-mail.js" %>


<%= javascript_script_tag "/assets/js/script.js" %> 

</body>
</html>