<!-- @region: Navigation -->
    <div id="navigation" class="wrapper">
      <!-- Branding & Navigation -->
              <!--Main Navigation-->
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">          
              
              <!--mobile collapse menu button-->
              <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>
              
              <!--scroll mobile navigation--> 
              <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>
              
              <!--everything within this div is collapsed on mobile-->
              <div class="mobile-toggle pull-right">
                              
                <!--main navigation-->
                <ul class="nav" id="main-menu">
                  <li><a href="#about">About</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#qualifications">Qualifications</a></li>
                  <li><a href="#experience">Experience</a></li>
                  <li><a href="#contact" class="stamp">Hire me</a></li>              
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
    </div>