
/*******************************************************
 * @tableofcontents
 *
 * 1. Utilities
 *    1.1 general
 *    1.2 icomoon icons
 * 2. Theme core styles
 *    2.1 typography
 *    2.2 layout
 *    2.3 menus
 *    2.4 mobile menu
 *    2.5 common
 *    2.6 navbar
 *    2.7 utilities
 *    2.8 slideshows
 *    2.9 backgrounds
 *    2.10 icons
 * 3. Bootstrap overrides
 *    3.2 utilities
 *    3.3 forms
 *    3.5 buttons
 * 4. Page specific
 *    4.1 about
 *    4.3 services
 *    4.4 misc
 *    4.5 timeline
 *    4.6 testimonials
 *    4.7 contact
 *    4.8 elements
 * 5. General Responsive work
 * 
 *******************************************************/

/*******************************************************
 *
 * @section 1. Utilities
 * 
 ******************************************************/
/* @section 1.1 general */
.border-box {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}

/*******************************************************
 *
 * @section 2. Theme core styles
 * 
 ******************************************************/
/* @section 2.1 typography */
body,
html {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  color: #54bcc8;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
  color: #2e356a;
}
h1 {
  font-size: 47.2px;
}
h2 {
  font-size: 47.2px;
}
h3 {
  font-size: 32.8px;
}
p {
  color: #597090;
  margin: 0 0 12px;
  line-height: 28.799999999999997px;
  font-size: 16px;
}
.lead {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  display: block;
  font-weight: 300;
  font-size: 16px;
  color: #696762;
}
.bold {
  font-weight: bold;
}
h1.bold {
  font-size: 63.2px;
}
h2.bold {
  font-size: 48.8px;
}
.uc {
  text-transform: uppercase;
}
.de-em {
  color: rgba(51, 51, 51, 0.8);
}
a .de-em {
  color: inherit;
}
.hero .de-em {
  color: rgba(93, 101, 169, 0.8);
}
.em {
  color: #5d65a9;
}
.fancy {
  font-family: serif;
  font-style: italic;
}

address strong {
  margin-top: 5px;
  display: block;
}
address i {
  margin-right: 6px;
}
.img-wrap {
  float: left;
  margin: 0 1em 1em 0;
}
.img-wrap figcaption {
  font-size: 0.9em;
  font-weight: normal;
}
/* @section 2.2 layout */
#navigation {
  *zoom: 1;
  z-index: 200;
  background: #ffffff;
}
#navigation:before,
#navigation:after {
  display: table;
  content: "";
  line-height: 0;
}
#navigation:after {
  clear: both;
}
.navbar {
  color: #343331;
  margin: 0;
  border-bottom: 4px solid #FFBE00;
}
.navbar-inner {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  height: 115px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}



#content {
  padding: 119px 0 0 0;
  background: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#footer {
  min-height: 100px;
  padding: 20px 0;
  background: #333;
  font-size: 14px;
  color: #d6daf5;
}
#footer p {
  font-size: 14px;
  color: #d6daf5;
}
#footer a {
  color: #54bcc8;
}
#footer a:hover {
  color: #54bcc8;
  cursor: pointer;
}
#footer .social-media a {
  color: #ffffff;
}
#footer .social-media a:hover {
  color: #d6daf5;
}
/* @section 2.3 menus */
#main-menu li a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#main-menu li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 115px;
  line-height: 115px;
  padding: 0 25px;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  color: #0D0F32;
}
#main-menu li a small {
  display: block;
  line-height: 1;
}
#main-menu li a:hover .dropdown-menu {
  display: block;
}
#main-menu li a:hover {
  background: #ffffff;
  color: #5d65a9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#main-menu li .stamp {
  background: #333;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  text-shadow: none;
  height: 85px;
  line-height: 85px;
  width: 85px;
  padding: 0;
  margin: 15px 0 15px 25px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-size: 19px;
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
  letter-spacing: 2px;
  font-family: 'Condiment', cursive;
}
#main-menu li .stamp:hover {
  background: #FFBE00;
  color: #ffffff;
}
#main-menu li.open a.dropdown-toggle,
#main-menu li.active a,
#main-menu li.current a,
#main-menu li.active a:hover {
  text-shadow: none;
  background: #ffffff;
}
#main-menu li.open a.dropdown-toggle .caret,
#main-menu li.active a .caret,
#main-menu li.current a .caret,
#main-menu li.active a:hover .caret {
  color: #ffffff;
}
#main-menu li.open a.dropdown-toggle.stamp,
#main-menu li.active a.stamp,
#main-menu li.current a.stamp,
#main-menu li.active a:hover.stamp {
  background: #FFBE00;
}
#main-menu li.open a.dropdown-toggle {
  border-bottom-color: transparent;
}
/* @section 2.4 mobile menu */
.mobile-toggle-trigger {
  font-size: 36px;
  color: #FFBE00;
  display: none;
  cursor: pointer;
  padding: 2px 8px;
  float: right;
  background: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1000;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  margin-top: 36px;
}
.mobile-toggle-trigger:hover,
.mobile-toggle-trigger.open {
  color: #ffffff;
  background: #B6C2D2;
  text-decoration: none;
}
.scroll-nav {
  position: fixed;
  top: 10px;
  right: -100px;
  margin-top: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.scroll-nav.scroll-show {
  right: 0;
}
.jpanel-menu-open .scroll-nav.scroll-show {
  right: 250px;
}
#jPanelMenu-menu {
  background: #333;
  overflow-y: hidden !important;
}
#jPanelMenu-menu #main-menu li a {
  margin: 5px 10px;
  padding: 0.5em 1em;
  height: auto;
  line-height: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  background: #EDF0F5;
}
#jPanelMenu-menu #main-menu li a.stamp {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  width: auto;
  font-size: 20px;
  background: #FFBE00;
}
#jPanelMenu-menu #main-menu li.current a {
  background: #ffffff;
}
#jPanelMenu-menu #main-menu li.current a.stamp {
  background: #FFBE00;
}
@media (max-width: 979px) {
  .mobile-toggle-trigger {
    display: block;
  }
  .mobile-toggle {
    display: none;
  }
  #jPanelMenu-menu {
    display: block;
  }
}
/* @section 2.5 common */

.slogan {
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #343331;
  text-align: center;
}

.block {
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
}
.block.thin {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.block.large {
  padding-top: 5em;
  padding-bottom: 5em;
}
.block.gray,
.block .gray {
  background-color: #edf0f4;
}
.block.gray-light,
.block .gray-light {
  background-color: #f9f9f9;
}
.block.primary,
.block .primary {
  background-color: #333;
  border-bottom: 4px solid #FFBE00;
}
.block.primary,
.block .primary {
  color: #d6daf5;
}
.block.primary h1,
.block .primary h1,
.block.primary h2,
.block .primary h2,
.block.primary .bold,
.block .primary .bold {
  color: #ffffff;
}
.block.primary h3,
.block .primary h3,
.block.primary h4,
.block .primary h4,
.block.primary h5,
.block .primary h5,
.block.primary p,
.block .primary p {
  color: #fff;
}
.block.primary h3.bold,
.block .primary h3.bold,
.block.primary h4.bold,
.block .primary h4.bold,
.block.primary h5.bold,
.block .primary h5.bold,
.block.primary p.bold,
.block .primary p.bold {
  color: #ffffff;
}
.block.border-bottom,
.block .border-bottom {
  border-bottom: 1px solid #ccc;
}
.block.border-bottom-light,
.block .border-bottom-light {
  border-bottom: 1px solid #eee;
}
.block.border-bottom-white,
.block .border-bottom-white {
  border-bottom: 1px solid #fff;
}
.block.border-top,
.block .border-top {
  border-top: 1px solid #ccc;
}
.block.border-top-light,
.block .border-top-light {
  border-top: 1px solid #eee;
}
.block.border-top-white,
.block .border-top-white {
  border-top: 1px solid #fff;
}
.colour {
  cursor: pointer;
}
.colour:after {
  font-size: 11px;
  padding-left: 5px;
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F10C';
}
.colour.on:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F111';
}
.social-media {
  text-align: center;
}
.social-media a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  text-align: center;
  margin: 1em 0.3em;
}
.social-media a i {
  font-size: 52px;
}
h1.title-divider {
  margin-top: 3em;
}
h2.title-divider {
  margin-top: 2em;
}
h3.title-divider {
  margin-top: 1em;
}
/* @section 2.6 navbar */
.navbar {
  background: #F6F7F9;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
@media (min-width: 980px) {
  .navbar-fixated .navbar-inner {
    height: 95px;
  }
  
  .navbar-fixated #main-menu li a {
    height: 95px;
    line-height: 95px;
  }
  .navbar-fixated #main-menu li a.stamp {
    height: 85px;
    line-height: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-fixated #content {
    padding-top: 95px;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
  .navbar .container {
    position: relative;
    width: 724px;
  }
  #content {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .mobile-toggle-trigger {
    margin-top: 14px;
  }
  .navbar .container {
    width: auto;
    padding: 0 1em;
  }

  .navbar-inner {
    height: 70px;
  }
}
/* @section 2.7 utilities */
.i-float {
  *zoom: 1;
}
.i-float:before,
.i-float:after {
  display: table;
  content: "";
  line-height: 0;
}
.i-float:after {
  clear: both;
}
.i-float i,
.i-float span {
  float: left;
  text-align: left;
  width: 14%;
  display: block;
}
.i-float span {
  width: 84%;
}
.margin-top {
  margin-top: 2em;
}
.margin-top-small {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 3em;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.inline-el {
  display: inline-block;
}
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p {
  margin: 0;
}
.well-small {
  padding: 9px;
}
.well-mini {
  padding: 5px;
}
.well.well-white {
  background-color: #ffffff;
  border: none;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #d6daf5;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(84, 188, 200, 0.8);
  color: #ffffff;
  z-index: 100;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay-wrapper .overlay.on {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay,
.overlay-wrapper.flex-active .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper:hover .overlay.on,
.overlay-wrapper.flex-active .overlay.on {
  opacity: 0;
  filter: alpha(opacity=0);
}
.hidden {
  visibility: hidden;
  display: none;
}
.fancy {
  font-family: 'Condiment', cursive;
}
.spacer {
  font-weight: bold;
  color: #5d65a9;
}
.spacer.dark {
  color: #2e356a;
}
/* @section 2.8 slideshows */
.flexslider-wrapper {
  position: relative;
  overflow: hidden;
}
.flexslider {
  background: transparent;
  padding: 0 0 10px 0;
  list-style: none;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flexslider-animation-fade {
  /* Hide the slides before the JS is loaded. Avoids image jumping */

}
.flexslider-animation-fade .slides > .slide,
.flexslider-animation-fade .items > .item {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -5px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 3px;
}
.flex-control-nav li a {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  border: 2px solid #343331;
  background: transparent;
}
.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active {
  border-color: #54bcc8;
  background: transparent;
}



/* @section 2.10 icons */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
}
[class^="icon-"].primary,
[class*=" icon-"].primary {
  background-color: #5d65a9;
}
.wrap-round {
  -webkit-border-radius: 300%;
  -moz-border-radius: 300%;
  border-radius: 300%;
  background-color: #5d65a9;
  display: inline-block;
  padding: 2em;
}
.wrap-round .icon-5x {
  width: 100%;
}

.icon-twitter-sign:hover, .icon-facebook-sign:hover, .icon-linkedin-sign:hover {
  color:#FFBE00;
}

.span4.service .icon-user, .span4.service .icon-group, .span4.service .icon-pencil {
  font-size:74px;
 }

 .span3.qual .icon-user, .span3.qual .icon-group, .span3.qual .icon-pencil {
  font-size:74px;
 }
/*******************************************************
 *
 * @section 3. Bootstrap overrides
 * 
 ******************************************************/

/* @section 3.2 utilities */
.i-float {
  *zoom: 1;
}
.i-float:before,
.i-float:after {
  display: table;
  content: "";
  line-height: 0;
}
.i-float:after {
  clear: both;
}
.i-float i,
.i-float span {
  float: left;
  text-align: left;
  width: 14%;
  display: block;
}
.i-float span {
  width: 84%;
}
.margin-top {
  margin-top: 2em;
}
.margin-top-small {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 3em;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.inline-el {
  display: inline-block;
}
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p {
  margin: 0;
}
.well-small {
  padding: 9px;
}
.well-mini {
  padding: 5px;
}
.well.well-white {
  background-color: #ffffff;
  border: none;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #d6daf5;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(84, 188, 200, 0.8);
  color: #ffffff;
  z-index: 100;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay-wrapper .overlay.on {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay,
.overlay-wrapper.flex-active .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.overlay-wrapper:hover .overlay.on,
.overlay-wrapper.flex-active .overlay.on {
  opacity: 0;
  filter: alpha(opacity=0);
}
.hidden {
  visibility: hidden;
  display: none;
}
.fancy {
  font-family: 'Condiment', cursive;
}
.spacer {
  font-weight: bold;
  color: #5d65a9;
}
.spacer.dark {
  color: #2e356a;
}
/* @section 3.3 forms */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}

/* @section 3.5 buttons */
.btn {
  text-transform: uppercase;
  background-color: #eeeeee;
  background: #eeeeee;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-color: #e1e1e1 #e1e1e1 #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  color: #2D3469;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor:pointer;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e1e1e1;
  background: #e1e1e1;
}
.btn:active,
.btn.active {
  background-color: #c8c8c8 \9;
  background: #c8c8c8 \9;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  padding-right: 8px;
}
.btn-shadow {
  -webkit-box-shadow: 0 1px 5px #969696;
  -moz-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
}
.btn-large {
  padding: 16px 30px;
  font-size: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 0;
  font-size: 24px;
  padding-left: 12px;
}
.btn-small {
  padding: 8px 12px;
  font-size: 9.6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 3px 6px;
  font-size: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-primary {
  text-shadow: none;
  background-color: #5d65a9;
  background: #5d65a9;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #4d5490 #4d5490 #32375f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #4d5490;
  background: #4d5490;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  padding-right: 4px;
  padding-left: 0;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  padding-right: 8px;
  padding-left: 0;
}
.btn.btn-square {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.btn-icon-right [class^="icon-"],
.btn-icon-right [class*=" icon-"] {
  padding-left: 4px;
  padding-right: 0;
}
.btn-icon-right.btn-large [class^="icon-"],
.btn-icon-right.btn-large [class*=" icon-"] {
  padding-left: 8px;
  padding-right: 0;
}

.btn-primary-light {
  text-shadow: none;
  background-color: #333;
  background: #333;
  border-color: #4d5490 #4d5490 #32375f;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #39a4b0 #39a4b0 #266e76;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light:active,
.btn-primary-light.active,
.btn-primary-light.disabled,
.btn-primary-light[disabled] {
  color: #ffffff;
  background-color: #FFBE00;
  background: #FFBE00;
}
.btn-primary-light:active,
.btn-primary-light.active {
  background-color: #3b416f \9;
  background: #3b416f \9;
}



/* @section 4.1 about */
.about {
  min-height: 300px;
  background-color: #5d65a9;
  color: #FDFDFD;
  padding-bottom: 4em;
}
.about .photo img {
  border: 4px solid #FFBE00;
}
.about .details {
  padding-left: 2em;
}
.about .details .primary-focus {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
}
.about .details .secondary-focus {
  font-size: 38px;
  color: #FFBE00;
}
.about .details p {
  font-weight: 100;
  font-size: 20px;
}
.about .details .btn {
  -webkit-box-shadow: 0 0 2px #2e356a;
  -moz-box-shadow: 0 0 2px #2e356a;
  box-shadow: 0 0 2px #2e356a;
}
@media (max-width: 767px) {
  .about {
    min-height: 100px;
    text-align: center;
    padding-bottom: 2em;
  }
  .about .photo img {
    max-width: 140px;
  }
  .about .details {
    padding: 0;
  }
  .about .details .primary-focus {
    font-size: 320%;
    line-height: 1;
  }
  .about .details .secondary-focus {
    font-size: 200%;
    line-height: 1;
  }
  .about .details p {
    font-size: 120%;
  }
}

/* @section 4.3 services */
#services {
  border-bottom: 4px solid #D8DFE7;
  padding-bottom: 4em;
}
#services .service {
  text-align: center;
  padding: 1em;
}
#services .service h3 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
}
#services .service p {
  line-height: 120%;
  text-align: justify;
}

#services .service a.btn {
  float:left;
}

@media (max-width: 767px) {
  #services {
    padding-bottom: 2em;
  }
}
[class^="service-"],
[class*=" service-"] {
  display: block;
  height: 100px;
  width: 100px;
}
[class^="service-"].centered,
[class*=" service-"].centered {
  margin: 0 auto;
}

/* @section 4.4a Qualifications */

#qualifications {
  border-bottom: 4px solid #D8DFE7;
  padding-bottom: 4em;
  padding-top:2em;
}
#qualifications .qual {
  text-align: center;
  padding: 1em;
}
#qualifications .qual h3 {
  font-size: 2em;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;

}
#qualifications .qual p {
  line-height: 120%;
}


.qual li {
  padding-top:7px;
  text-align: left;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:300;
  font-size:1.1em;
}

/* @section 4.4 misc */
#facts h1,
#facts h2,
#facts h3,
#facts h4 {
  color: #ffffff;
}
/* @section 4.5 timeline */
.timeline-list-reset {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.timeline-list-reset:before,
.timeline-list-reset:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline-list-reset:after {
  clear: both;
}
.experience .timeline {
  margin-top: 2em;
}
.timeline {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url('/assets/images/bg_timeline-line.png');
  background-size: 2px auto;
  background-repeat: repeat-y;
  background-position: center top;
}
.timeline:before,
.timeline:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline:after {
  clear: both;
}

.timeline ul {
  *zoom: 1;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 2em 0 6em 0;
}
.timeline ul:before,
.timeline ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline ul:after {
  clear: both;
}
.timeline-breaker {
  background: #0C0F32;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5em 1em;
  line-height: 1;
  display: block;
  position: relative;
}
.timeline-breaker:after,
.timeline-breaker:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline-breaker:after {
  border-top-color: #0C0F32;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.timeline-breaker:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.timeline-item {
  float: left;
  width: 42%;
  padding: 2%;
  background: #edf0f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  margin-top: -80px;
  position: relative;
  right: 30px;
  margin-left: 4%;
  clear: both;
}
.timeline-item:before,
.timeline-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.timeline-item:after {
  clear: both;
}
.timeline-item:after,
.timeline-item:before {
  top: 50%;
  right: -20px;
  position: absolute;
  pointer-events: none;
  margin: 0;
  display: block;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin-top: -15px;
}
.timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0DA';
  color: #edf0f5;
}
.timeline-item:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F140';
  right: -45px;
  background: white;
}
.timeline-item:first-child {
  margin-top: 0;
}
.timeline-item.right {
  float: right;
  left: 30px;
  right: 0;
  margin-right: 4%;
  margin-left: 0;
}
.timeline-item.right:after,
.timeline-item.right:before {
  left: -20px;
}
.timeline-item.right:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D9';
}
.timeline-item.right:after {
  left: -45px;
}
.timeline-item.overlap-off {
  margin-top: 0;
}
.timeline-item.overlap-pull-large {
  margin-top: -120px;
}
.timeline-item.overlap-pull-small {
  margin-top: -30px;
}
.timeline-item.overlap-push-large {
  margin-top: 120px;
}
.timeline-item.overlap-push-medium {
  margin-top: 60px;
}
.timeline-item.overlap-push-small {
  margin-top: 30px;
}
.timeline-item-date {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}
.timeline-item-role {
  margin: 0 0 10px 0;
}
.timeline-item-description {
  font-size: 15px;
  line-height: 1.4;
}
.timeline-item-photo {
  float: left;
  margin-right: 1em;
}
.timeline-item-photo.right {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
.timeline-end {
  text-align: center;
  background: #ffffff;
}
.timeline-end .timeline-breaker {
  margin-bottom: 5px;
  width: auto;
  background-color: transparent;
  color: #0C0F32;
}
.timeline-end .timeline-breaker:after,
.timeline-end .timeline-breaker:before {
  display: none;
}
.timeline-end .btn {
  min-width: 200px;
}
.timeline-stacked.timeline ul {
  padding: 1em 2em 6em 2em;
}
.timeline-stacked .timeline-item {
  float: none;
  left: auto;
  right: auto;
  width: 80%;
  margin: 60px auto 0 auto;
}
.timeline-stacked .timeline-item.right {
  float: none;
  left: auto;
  right: auto;
}
.timeline-stacked .timeline-item.right:after,
.timeline-stacked .timeline-item.right:before,
.timeline-stacked .timeline-item:after,
.timeline-stacked .timeline-item:before {
  top: -20px;
  right: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: -15px;
}
.timeline-stacked .timeline-item.right:before,
.timeline-stacked .timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D8';
}
.timeline-stacked .timeline-item.right:after,
.timeline-stacked .timeline-item:after {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F140';
  top: -40px;
}
.timeline-stacked.down .timeline-item:first-child {
  margin-top: 0;
}
.timeline-stacked.down .timeline-item:last-child {
  margin-bottom: 60px;
}
.timeline-stacked.down .timeline-item.right:after,
.timeline-stacked.down .timeline-item.right:before,
.timeline-stacked.down .timeline-item:after,
.timeline-stacked.down .timeline-item:before {
  bottom: -20px;
  top: auto;
}
.timeline-stacked.down .timeline-item.right:before,
.timeline-stacked.down .timeline-item:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: '\F0D7';
}
.timeline-stacked.down .timeline-item.right:after,
.timeline-stacked.down .timeline-item:after {
  bottom: -40px;
  top: auto;
}
.timeline-stacked .timeline-item-photo {
  max-width: 50px;
  margin-bottom: 0.5em;
}
.timeline-stacked .timeline-item:first-child,
.timeline-stacked .timeline-item.overlap-off,
.timeline-stacked .timeline-item.overlap-pull-large,
.timeline-stacked .timeline-item.overlap-pull-small,
.timeline-stacked .timeline-item.overlap-push-large,
.timeline-stacked .timeline-item.overlap-push-medium {
  margin-top: 60px;
}
.timeline .timeline-item.highlight:after {
  color: #54bcc8;
}
@media (max-width: 767px) {
  .timeline ul {
    padding: 1em 2em 6em 2em;
  }
  .timeline-item {
    float: none;
    left: auto;
    right: auto;
    width: 80%;
    margin: 60px auto 0 auto;
  }
  .timeline-item.right {
    float: none;
    left: auto;
    right: auto;
  }
  .timeline-item.right:after,
  .timeline-item.right:before,
  .timeline-item:after,
  .timeline-item:before {
    top: -20px;
    right: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -15px;
  }
  .timeline-item.right:before,
  .timeline-item:before {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F0D8';
  }
  .timeline-item.right:after,
  .timeline-item:after {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F140';
    top: -40px;
  }
  .down .timeline-item:first-child {
    margin-top: 0;
  }
  .down .timeline-item:last-child {
    margin-bottom: 60px;
  }
  .down .timeline-item.right:after,
  .down .timeline-item.right:before,
  .down .timeline-item:after,
  .down .timeline-item:before {
    bottom: -20px;
    top: auto;
  }
  .down .timeline-item.right:before,
  .down .timeline-item:before {
    font-family: FontAwesome;
    font-style: normal;
    speak: none;
    display: inline-block;
    content: '\F0D7';
  }
  .down .timeline-item.right:after,
  .down .timeline-item:after {
    bottom: -40px;
    top: auto;
  }
  .timeline-item-photo {
    max-width: 50px;
    margin-bottom: 0.5em;
  }
  .timeline-item:first-child,
  .timeline-item.overlap-off,
  .timeline-item.overlap-pull-large,
  .timeline-item.overlap-pull-small,
  .timeline-item.overlap-push-large,
  .timeline-item.overlap-push-medium {
    margin-top: 60px;
  }
  .timeline .timeline-breaker {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline .timeline-item {
    width: 96%;
  }
  .timeline-end .timeline-breaker {
    margin-bottom: 5px;
  }
  .timeline-end .btn {
    display: block;
  }
}
@media (max-width: 480px) {
  .timeline ul {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline .timeline-item {
    padding: 4%;
    width: 92%;
  }
  .timeline .timeline-item .timeline-item-photo {
    max-width: 50px;
  }
}
/* @section 4.6 testimonials */
.testimonials {
  padding-top: 0;
  border-bottom: 4px solid #D8DFE7;
}
.testimonials .flexslider {
  padding-bottom: 40px;
}
.testimonials .flex-direction-nav {
  display: none;
}
.testimonials .flex-control-nav {
  bottom: 15px;
}
.testimonials .filter {
  max-height: 250px;
  height: 250px;
}
.testimonials .filter h2 {
  color: #ffffff;
  padding-top: 100px;
  margin: 0;
  font-size: 60px;
}
blockquote {
  padding: 1em 5em;
  margin: 0;
  border-left: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
blockquote:before {
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: "\f10d";
  font-size: 50px;
  padding: 0.5em 0;
  color: #FFBE00;
}
blockquote p {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
  font-style: italic;
}
blockquote small {
  display: block;
  padding: 10px 0 0 0;
  font-size: 16px;
  font-style: normal;
  color: #597090;
}
blockquote small:before {
  content: ' ';
}
blockquote small a {
  color: #54bcc8;
}
blockquote small a:hover {
  color: #5d65a9;
}
.flexslider blockquote,
.flexslider-carousel blockquote {
  padding: 0 10em 1em 10em;
  float: left;
}
@media (max-width: 767px) {
  .flexslider blockquote,
  .flexslider-carousel blockquote {
    padding: 1em;
  }
}
@media (max-width: 480px) {
  .flexslider blockquote,
  .flexslider-carousel blockquote {
    padding: 1em;
  }
}
/* @section 4.7 contact */
.contact select,
.contact textarea,
.contact input[type="text"],
.contact input[type="password"],
.contact input[type="datetime"],
.contact input[type="datetime-local"],
.contact input[type="date"],
.contact input[type="month"],
.contact input[type="time"],
.contact input[type="week"],
.contact input[type="number"],
.contact input[type="email"],
.contact input[type="url"],
.contact input[type="search"],
.contact input[type="tel"],
.contact input[type="color"],
.contact .uneditable-input {
  height: 60px;
  padding: 4px 20px;
  display: block;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 100%;
  margin-bottom: 20px;
  background-color: #F6F7F9;
  color: #333;
  font-weight: 100;
}
.contact select:focus,
.contact textarea:focus,
.contact input[type="text"]:focus,
.contact input[type="password"]:focus,
.contact input[type="datetime"]:focus,
.contact input[type="datetime-local"]:focus,
.contact input[type="date"]:focus,
.contact input[type="month"]:focus,
.contact input[type="time"]:focus,
.contact input[type="week"]:focus,
.contact input[type="number"]:focus,
.contact input[type="email"]:focus,
.contact input[type="url"]:focus,
.contact input[type="search"]:focus,
.contact input[type="tel"]:focus,
.contact input[type="color"]:focus,
.contact .uneditable-input:focus {
  color: #333;
}
.contact textarea {
  height: 140px;
  padding: 15px 20px;
}
.contact .btn {
  float: right;
}
.contact address {
  font-size: 1.2em;
  color: #647a97;
}
.contact address a {
  font-weight: 600;
  font-size: 0.9em;
}
.contact address a i {
  font-size: 1.6em;
  color: #2e356a;
}
.contact address a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact select,
  .contact textarea,
  .contact input[type="text"],
  .contact input[type="password"],
  .contact input[type="datetime"],
  .contact input[type="datetime-local"],
  .contact input[type="date"],
  .contact input[type="month"],
  .contact input[type="time"],
  .contact input[type="week"],
  .contact input[type="number"],
  .contact input[type="email"],
  .contact input[type="url"],
  .contact input[type="search"],
  .contact input[type="tel"],
  .contact input[type="color"],
  .contact .uneditable-input {
    margin-bottom: 10px;
  }
  .contact .btn {
    float: none;
    display: block;
    width: 100%;
  }
  .contact address {
    margin-top: 20px;
  }
}

/*******************************************************
 *
 * @section 5. General Responsive work
 * 
 ******************************************************/
@media (max-width: 979px) {
  
}
@media (min-width: 980px) {
  
}
@media (min-width: 1200px) {
  
}
@media (max-width: 979px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  
  .block {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .block.thin {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .block.large {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .tab-content,
  .pill-content {
    overflow: visible;
  }
  .tab-content .tab-pane,
  .pill-content .tab-pane,
  .tab-content .pill-pane,
  .pill-content .pill-pane {
    display: block;
    margin-bottom: 2em;
  }
}
@media (max-width: 480px) {

  #about img {
    display:none;
  }

  #footer .pull-right {
    text-align: left;
    float: none;
  }
}